.Tarjeta_Productos{
    width: 20%;
    background-color: #E7F6F2;
    border-radius: 20px;
    color: #395b64;
    margin: 40px;
}

.Tarjeta_Productos_Imagen{
    margin-top: 30px;
}

.Tarjeta_Productos_Imagen img{
    width: 266px;
    height: 291px;
    border: 2px solid;    
    border-radius: 10px;
}

.Tarjetas_Productos_Informacion{
    padding: 10%;
}

.Tarjetas_Productos_Informacion h6{
    color: #A5C9CA;
}

.Tarjeta_Productos #botones{
    
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.Tarjeta_Productos #botones button{
    border-radius: 40px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .Tarjeta_Productos{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
